name: Export Email_to_pdf iFlow from SAP CPI to GitHub

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  export_iflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download iFlow ZIP from CPI
        run: |
          curl -X GET \
          "${{ secrets.CPI_URL }}/api/1.0/IntegrationPackages('CPIPOC')/IntegrationDesigntimeArtifacts('Email_to_pdf')/\$value" \
          -u "${{ secrets.CPI_USER }}:${{ secrets.CPI_PASS }}" \
          -o Email_to_pdf_new.zip

      - name: Debug file
        run: |
          echo "----- FILE SIZE -----"
          ls -lh Email_to_pdf_new.zip
          echo "----- FILE TYPE -----"
          file Email_to_pdf_new.zip
          echo "----- FIRST 200 bytes -----"
          head -c 200 Email_to_pdf_new.zip | cat

      - name: Replace iFlow folder
        run: |
          rm -rf Email_to_pdf
          unzip Email_to_pdf_new.zip -d Email_to_pdf

      - name: Commit updated iFlow
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add Email_to_pdf
          git commit -m "Auto-sync: Exported latest iFlow from CPI" || echo "No changes"
          git push
